@keyframes banner {
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes banner {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes text {
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes text {
  from{opacity: 0;}
  to{opacity: 1;}
}

.banner{
  animation-name: banner;
  -webkit-animation-name: banner;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
}

.text{
  animation-name: text;
  -webkit-animation-name: text;
  animation-duration: 15s;
  -webkit-animation-duration: 15s;
}

.center{
  text-align: center;
  display: block;
  margin: 0 auto;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #1F1F1F;
  margin: 0px;
}

h1{
  color: darkgrey;
  font-size: 72px;
}

p{
  color: grey;
  font-size: 36px;
}

.nav-item{
  display: inline;
  padding: 10px;
  font-size: 20px
}

.nav-link{
  text-decoration: none;
  color: darkgrey;
}

.nav{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: grey;
}

.nav-container{
  margin: 0px;
  padding: 0px;
}
